{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block content %}
    <div class="container">
        <div class="row" style="margin: 4rem">
            <div class="col-4">
                <p class="display-5">GF Shop LLC.</p>
                <p>Tel: +1(123)123-4567</p>
                <p>Email: info@gf-shop.com</p>
                <p>Address:<br>2788 San Tomas Expressway<br>Santa Clara, CA 95051</p>
            </div>
            <div class="col-8">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3170.8119869700026!2d-121.969378084694!3d37.37062537983506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fca2702c480db%3A0x76527847b95e08c9!2sNVIDIA%20Corporation!5e0!3m2!1sen!2sru!4v1615808628191!5m2!1sen!2sru" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
{% endblock %}